extends layout

block content
  h1 Upload SAP
  form(method='post', enctype='multipart/form-data')
    input(type='file', name='csvupload')
    input(type='submit', name='uploadcsv', value='Upload CSV')
