extends ../node_modules/jade-bootstrap/_bootstrap.pug

append styles	
	// Custom styles for this template
	link(href='../node_modules/jade-bootstrap/css/jumbotron-narrow.css', rel='stylesheet')
block body
	-var menu = {'Start workflow' : '/', 'Workflow status' : '/listwf', 'System info' : '/system'}
	.container
		.header.clearfix
			nav
				ul.nav.nav-pills.pull-right
					each val, key in menu
						if selected === key
							li.active(role='presentation')
								a(href=val)= key
						else 
							li(role='presentation')
								a(href=val)= key

			h3.text-muted RPA Workflow Engine
		.jumbotron
			h2 SAP VMD
			if selected === 'Start workflow'
				p.lead
					| Upload XLSX with OrgId, OrgName from SAP VMD. This will trigged a workflow that checks the OrgId aginst BBREG to find bankrupt companies. The result of the compare can be fetched via API call
				p
				.row
					.col-md-6.col-md-offset-3
					
					// register form
					form(method='POST' enctype='multipart/form-data' action='/upload')
						div.form-group
							label(for='name') :
							input#name.form-control(type='file', placeholder='File' name='csvupload')
						button.btn.btn-primary(type='submit', name='uploadcsv', value='Upload CSV') Upload
			
			else if selected === 'Workflow status'
				p.lead
					| Running workflows
				p
					.row
						.col-md-12.col-md-offset-0
						// Insert array into table
						+table-striped(["Workflow Id","Run Id","Name","Status", "Start time"], wflist)
			else if selected === 'System info'
				p.lead
					| System status
				p
					.row
						.col-md-12.col-md-offset-0
							+alert-success("This is a success alert")
							+label-primary("Decider")
							+label-primary("Worker")
						
						
		
		footer.footer
			p © Statoil ASA
