extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='post', enctype='multipart/form-data')
    input(type='file', name='csvupload')
    input(type='submit', name='uploadcsv', value='Upload CSV')
